.foodmenu {
  background-color: #28333a;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.icondiv {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
}
.foodLayout {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.foodCenter {
  font-weight: 500;
  color: white;
  font-size: larger;
}

/* style for food list  */
.foodList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.foodTitles {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
  padding-top: 1rem;
}
.foodType {
  font-weight: 400;
  font-size: 18px;
}
.foodOrigin {
  background: #d15439;
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: 300;
  font-size: smaller;
}

/* ṣtyle for foodListitem */
.foodItemListLayout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}
.foodItemList {
  background: #415663;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-radius: 10px;
}
.foodImgStyle {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.foodImgDiv {
  overflow: hidden;
  border-radius: 50%;
}
.foodListImg {
  border-radius: 50%;
  height: 2rem;
}
.foodTime {
  padding: 8px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 200;
}
.foodTimeDot {
  height: 8px;
  width: 8px;
  background-color: #d15439;
  border-radius: 50%;
}
.foodCalLayout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.foodCalories {
  background: #172026;
  padding: 2px 18px;
  border-radius: 10px;
  font-size: small;
  font-weight: 200;
}
.foodCalAdd {
  padding: 10px 0;
  font-size: 1.7rem;
}
