.layout {
  z-index: 100;
  height: 100%;
  position: relative;
}
.imgSpace {
  height: 80%;
}
.shareIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.profileInfo {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  gap: 10px;
}
.nameCenter {
  font-weight: 500;
  font-size: larger;
  color: white;
}
.nameTitle {
  font-weight: 400;
  font-size: smaller;
  color: white;
  padding: 5px 0;
}
.shadow {
  box-shadow: 0 5rem 10rem 15rem;
  background-color: black;
}
